{% extends "base.html" %}
{% block title %} Singly API testing {% endblock %}

{% block content %}
  <form action="{{ url_for('apitesting') }}" method="post" >
    <dl>
      <dt>Latitude:
      <dd><input type=text name=latitude>
      <dt>Longitude:
      <dd><input type=text name=longitude>
      <dt>Radius:
      <dd><input type=text name=radius>
      <dd><input type=submit value=Submit>
    </dl>
  </form>
  <p> Latitude and longitude of notable places:
    <ul>
      <li>Pittsburgh: 40.448253,-79.947567 </li>
      <li>Ann Arbor: 42.267147,-83.736649 </li>
      <li>San Francisco: 37.781157, -122.398720</li>
    </ul>
  </p>
{% endblock %}
