<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GMaps.js &mdash; Polylines</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="/static/gmaps.js"></script>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/examples.css" />
  <script type="text/javascript">
    $(document).ready(function(){
      var start_lat = 37.7750;
      var start_lng = -122.4183;
      var chunks = 30;
      var size = .005;
      var map = new GMaps({
        div: '#map',
        lat: start_lat,
        lng: start_lng,
        click: function(e){
          console.log(e);
        }
      });
      for (i=(chunks/2)*-1; i < chunks/2; i=i+1) {
        for (j=(chunks/2)*-1; j < chunks/2; j=j+1) {
          var poly_path = [
            [start_lat + (size * i), start_lng + (size * j)],
            [start_lat + (size * i), start_lng + (size * (j+1))],
            [start_lat + (size * (i+1)), start_lng + (size * (j+1))],
            [start_lat + (size * (i+1)), start_lng + (size * j)]
          ];
          map.drawPolygon({
            path: poly_path,
            strokeColor: '#131540',
            fillColor: '#'+Math.floor(Math.random()*16777215).toString(16),
            fillOpacity: 0.3, 
            strokeOpacity: 0.3,
            strokeWeight: 0
          });
        }
      }
    });
  </script>
</head>
<body>
  <h1>GMaps.js &mdash; Polylines</h1>
  <div id="map"></div>
</body>
</html>
