<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GMaps.js &mdash; Polylines</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="/static/gmaps.js"></script>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/examples.css" />
  <script type="text/javascript">
    $(document).ready(function(){
      var start_lat = 37.7750;
      var start_lng = -122.4183;
      var chunks = 30;
      var size = .005;
      var map = new GMaps({
        div: '#map',
        lat: start_lat,
        lng: start_lng,
        zoom: 14,
        click: function(e){
          console.log(e);
        }
      });
      {% for square in squares %}
        var poly_path = [
            [{{square[0]}}, {{square[1]}}],
            [{{square[0]}} + size, {{square[1]}}],
            [{{square[0]}} + size, {{square[1]}} + size],
            [{{square[0]}}, {{square[1]}} + size]
        ];
        map.drawPolygon({
          path: poly_path,
          fillColor: '#00FF00',
          fillOpacity: {{square[2]}},
          strokeOpacity: 0.3,
          strokeWeight: 0
        });
      {% endfor %}
    });
  </script>
</head>
<body>
  <h1>GMaps.js &mdash; Polylines</h1>
  <div id="map"></div>
</body>
</html>
